<html>
  <head>
    <title> ODUNTAN IBUKUN DATA VISUALIZATION ASSIGNMENT </title>

    

  </head>
  <body>
      <h1 align="center">POPULATION BY SEX FOR AFRICAN COUNTRIES FROM 2009 - 2018  </h1>

      <div class="cell">
        <p class="main-text">
          Group Bargraphs showing the Population of African countries by Sex from 2009-2018
          
        </p>
        

      </div>

  
      <img src="{{ url_for('static', filename='data_2010.png') }}" width="70%" >
      <img src="{{ url_for('static', filename='data_2011.png') }}" width="70%" >
      <img src="{{ url_for('static', filename='data_2012.png') }}" width="70%" >
      <img src="{{ url_for('static', filename='data_2013.png') }}" width="70%" >
      <img src="{{ url_for('static', filename='data_2014.png') }}" width="70%" >
      <img src="{{ url_for('static', filename='data_2015.png') }}" width="70%" >
      <img src="{{ url_for('static', filename='data_2016.png') }}" width="70%" >
      <img src="{{ url_for('static', filename='data_2017.png') }}" width="70%" >
      <img src="{{ url_for('static', filename='data_2018.png') }}" width="70%" >

      Actual data 
      <img src="{{ url_for('static', filename='Capture.PNG') }}" width="70%" >
  </body>
</html>