<table> 
    <thead>
    <h>Population of African Countries by Sex (thousands) in Year</h> 
    <tr> 
        <th>ID</th> 
        <th>Location</th> 
        <th>Time</th>
        <th>Female</th>
        <th>Male</th>
    </tr> 
    </thead> 
    <tbody> 
        {% for row in value %}  
            <tr> 
                <td>{{row[0]}}</td> 
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td> 
                <td>{{row[3]}}</td> 
                <td>{{row[4]}}</td> 
            </tr> 
        {% endfor %} 
    </tbody> 
</table> 